# Folders #
###########
__pycache__/
.ipynb_checkpoints/
.vscode/
to_remove/
plmsearch_data/

scientist_figures/*
!scientist_figures/plddt_statistics/plddt/
!scientist_figures/workflow_img/

example/*
!example/tmalign_compute/test
!example/query_mean_esm_result_cpu.pkl
!example/query_mean_esm_result.pkl
!example/query_pfam_result.json
!example/query_protein.fasta

plmsearch/esm/saved_models/

plmsearch/pytmalign/build/
plmsearch/pytmalign/pytm.cpython-38-x86_64-linux-gnu.so
plmsearch/pytmalign/pytm.cpp

# Junk #
########
.DS_Store*